<!-- Container -->
<div class="container my-5">


    <!-- Title -->
    <div class="card my-5">
        <h5 class="card-header">Word Seek</h5>
        <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">Find any solution in any direction</p>
        </div>
    </div>
    <!-- END Title -->


    <!-- Words 2 Seek -->
    <div class="mb-5">
        <div *ngFor="let word of word2Seek" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <input class="py-1 px-2" type="color" name="favcolor" value="{{word.color}}" (change)="colorChange($event, word)">
                </span>
            </div>
            <input type="text" class="form-control" value={{word.word}} (change)="wordChange($event, word)">
            <button class="btn btn-danger" type="button" (click)="deleteWord(word)">Eliminar</button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <input class="py-1 px-2" type="color" [formControl]="formColor">
                </span>
            </div>
            <input type="text" class="form-control" [formControl]="formWord">
            <button class="btn btn-primary" type="button" (click)="addWord()">Agregar</button>
        </div>
    </div>
    <!-- END Words 2 Seek -->


    <!-- Modifier Col Button -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3">
        <button class="btn btn-primary" type="button"(click)="addCol()">
            + Agregar columna
        </button>
        <button class="btn btn-danger" type="button"(click)="delCol()">
            - Eliminar columna
        </button>
    </div>
    <!-- END Modifier Col Button -->


    <!-- Word Seek -->
    <div class="wordSeekBox">
        <table class="mx-auto">
            <tr *ngFor="let row of wordSeek; index as r">
                <td  *ngFor="let col of wordSeek[r]; index as c">
                    <!-- <p class="ms-3">{{r==0 ? c : ''}}</p> -->
                    <app-input-word-seek 
                        [value] = col.letter
                        [color] = col.color
                        (changeValue) = changeValue($event,r,c)
                    ></app-input-word-seek>
                </td>
                <!-- <p>{{r}}</p> -->
            </tr>
        </table>
    </div>
    <!-- END Word Seek -->


    <!-- Modifier Row Button -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-between my-5">
        <button class="btn btn-primary" type="button" (click)="addRow()">
            + Agregar renglon
        </button>
        <button class="btn btn-danger" type="button" (click)="delRow()" >
            - Eliminar renglon
        </button>
    </div>
    <!-- END Modifier Row Button -->


    <!-- Solve Button -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button" (click)="solve()">
            Resuelve
        </button>
    </div>
    <!-- END Solve Button -->


</div>
<!-- END Container -->
