<!-- Container -->
<div class="container my-5">


    <!-- Words 2 Seek -->
    <div class="mb-5">
        <div *ngFor="let word of word2Seek" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <input class="py-1 px-2" type="color" name="favcolor" value="{{word.color}}" (change)="colorChange($event, word)">
                </span>
            </div>
            <input type="text" class="form-control" value={{word.word}}>
            <button class="btn btn-danger" type="button" (click)="deleteWord(word)">Eliminar</button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <input class="py-1 px-2" type="color" name="favcolor" value="#FF7300">
                </span>
            </div>
            <input type="text" class="form-control" #inputWord>
            <button class="btn btn-primary" type="button" (click)="addWord()">Agregar</button>
        </div>
    </div>
    <!-- END Words 2 Seek -->


    <!-- Modifier Col Button -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3">
        <button class="btn btn-primary" type="button"(click)="addCol()">
            + Agregar columna
        </button>
        <button class="btn btn-danger" type="button"(click)="delCol()">
            - Eliminar columna
        </button>
    </div>
    <!-- END Modifier Col Button -->


    <!-- Word Seek -->
    <table class="mx-auto">
        <tr *ngFor="let row of wordSeek; index as r">
            <td  *ngFor="let col of wordSeek[r]; index as c">
                <app-input-word-seek 
                    [value] = col.letter
                    [color] = col.color
                ></app-input-word-seek>
            </td>
        </tr>
    </table>
    <!-- END Word Seek -->


    <!-- Modifier Row Button -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-between my-5">
        <button class="btn btn-primary" type="button" (click)="addRow()">
            + Agregar renglon
        </button>
        <button class="btn btn-danger" type="button" (click)="delRow()" >
            - Eliminar renglon
        </button>
    </div>
    <!-- END Modifier Row Button -->


    <!-- Solve Button -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button" (click)="solve()">
            Resuelve
        </button>
    </div>
    <!-- END Solve Button -->


</div>
<!-- END Container -->
